
@{
    ViewData["Title"] = "QuemSomos";
}

    <div class="how-section1">

        <div class="row">
            <div class="col-md-6 how-img">
                
            </div>
            <div class="col-md-6">
                <h4>
                    <br />               
                </h4>
                <h4 class="subheading"></h4>
                <p class="text-muted">
                    <br />
                    <br />
                    <br />
                </p>
            </div>
        </div>


        <div class="row">
            <div class="col-md-6 how-img">
                <img src="https://image.ibb.co/dDW27U/Work_Section2_freelance_img1.png" class="rounded-circle img-fluid" alt="" />
            </div>
            <div class="col-md-6">
                <h4 class="subheading">
                                        
                Nossa Missão.</h4>
                <p class="text-muted">
                    Buscar a excelência em serviços, através de um ambiente agradável,
                    oferecendo profissionais felizes, que proporcionam aos alunos bem-estar físico e mental.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h4 class="subheading">Visão.</h4>
                <p class="text-muted">
                    Ser referência em diversidade de atividades físicas e capaz de superar as
                    expectativas de nossos alunos, através de experiências fantásticas e com alto padrão de atendimento.
                </p>
            </div>
            <div class="col-md-6 how-img">
                <img src="https://image.ibb.co/cHgKnU/Work_Section2_freelance_img2.png" class="rounded-circle img-fluid" alt="" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 how-img">
                <img src="https://image.ibb.co/ctSLu9/Work_Section2_freelance_img3.png" class="rounded-circle img-fluid" alt="" />
            </div>
            <div class="col-md-6">
                <h4 class="subheading">Valores:</h4>
                <p class="text-muted">
                    Compromisso e ética na prestação de serviços, Excelência no atendimento,
                    Oferecer preço justo pelo serviço prestado; Preocupação com a saúde,
                    bem-estar e qualidade de vida de nossos alunos
                    Desenvolver estratégias para capacitação contínua dos nossos profissionais.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h4>Endereço</h4>
                <h4 class="subheading">Venha Conhecer.</h4>
                <p class="text-muted">
                    Av. Floriano Peixoto, 2733 - Brasil, Uberlândia - MG, 38400-702
                </p>
            </div>
            <div class="col-md-6 how-img">
                <img src="https://image.ibb.co/gQ9iE9/Work_Section2_freelance_img4.png" class="rounded-circle img-fluid" alt="" />
            </div>
        </div>
    </div>